@font-face {
    font-family: 'Trento-Typeface';
    src: url('/Users/arathykrishna/Desktop/ALL/student_app/Trento-Typeface/Trento Typeface.ttf') format('truetype');
}
@font-face {
    font-family: 'Aesthetic';
    src: url('/Users/arathykrishna/Desktop/ALL/student_app/Aesthetic-Font/AestheticRegular-8M5dM.ttf') format('truetype');
}
@font-face {
    font-family:'LEMONMILK-Light' ;
    src: url('/Users/arathykrishna/Desktop/ALL/student_app/lemon_milk/LEMONMILK-Light.otf') format('OpenType');
}
@font-face {
    font-family:'LEMONMILK-Medium';
    src: url('/Users/arathykrishna/Desktop/ALL/student_app/lemon_milk/LEMONMILK-Medium.otf') format('OpenType');
}
body{
    background-color: #749a91;
}
#createworkbench{
    color:rgb(0, 0, 0);
    font-family:'LEMONMILK-Light', sans-serif;
    font-size: 28px;
    text-align: center;
    position: absolute;
    top: 12%;
    bottom: 50%;
    right:32%;
    width: 100%;
}
img{
    width:21%;
    position:absolute;
    margin-left: 64%;
    margin-top:16%;
}
.label1{
    background-color:rgba(115, 136, 124, 0.514);
    color: #434343;
    text-align: center;
    position: absolute;
    top: 27%;
    bottom: 50%;
    left: 6%;
    height: 35px;
    font-size: 18px;
    padding: 40px, 40px;
    border-radius: 10px;
    cursor:text;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 5px 5px 5px rgb(119, 119, 119);
    border-color:  rgba(41, 42, 42, 0.514);
    width: 300px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.label2{
    background-color:rgba(115, 136, 124, 0.514);
    color: #434343;
    text-align: center;
    position: absolute;
    top: 36%;
    bottom: 50%;
    left: 6%;
    height: 35px;
    font-size: 18px;
    padding: 40px, 40px;
    border-radius: 10px;
    cursor:text;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 5px 5px 5px rgb(119, 119, 119);
    border-color:  rgba(41, 42, 42, 0.514);
    width: 300px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input::placeholder{
    color:rgb(161, 185, 159);
    font-size: 15px;
}
#submit{
    background-color:rgba(115, 136, 124, 0.514);
    color: rgb(161, 185, 159);
    text-align: center;
    position: absolute;
    top: 48%;
    bottom: 50%;
    left: 12.2%;
    height: 35px;
    font-size: 18px;
    padding: 40px, 40px;
    border-radius: 10px;
    cursor:pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 5px 5px 5px rgb(119, 119, 119);
    border-color:  rgba(41, 42, 42, 0.514);
    width: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}